body {
    font-family: 'Roboto', sans-serif;
    background-color: rgba(223, 184, 251, 0.8);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
}

/* Estilos para los encabezados h1 */
h1 {
    color: #601f88;
    margin-bottom: 20px;
    text-align: center;
    font-size: 32px;
    text-transform: uppercase;
}

/* Estilos para el contenedor principal */
.container {
    max-width: 800px;
    margin: 20px;
    padding: 20px;
    background-color: rgba(152, 33, 223, 0.8);
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

/* Estilos para el contenedor de botones */
.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

/* Estilos para los botones dentro del contenedor*/
.button-container button {
    padding: 12px 24px;
    background-color: #601f88;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Cambio de color al pasar el mouse */
.button-container button:hover {
    background-color: #601f88;
}

/* Estilos para los formularios en general */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

/* Estilos para las etiquetas en los formularios */
label {
    font-weight: bold;
    color: #601f88;
}

/* Estilos para los campos de entrada en formularios */
input {
    width: 100%;
    padding: 14px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

/* Estilos para las tablas */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

/* Estilos para las celdas de encabezado y datos en las tablas */
th, td {
    border: 1px solid #ddd;
    padding: 14px;
    text-align: left;
}

/* Estilos para las celdas de encabezado en las tablas */
th {
    background-color: #601f88;
    color: #ffffff;
}

/* Estilos para el formulario de edición*/
#formEdit {
    background-color: #ffffff;
    padding: 20px;
    margin-top: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: none;
}
